{% extends "baseAdmin.html.twig" %}

{% block title %}modification categorie{% endblock %}

{% block body %}

    <h1 class="mb-5">Modifier une categorie</h1>

    {{ form_start(categoryForm) }}

        <div class="row">
            <div class="col-6">
                
                {{ form_label(categoryForm.name, 'Nom') }}
                {{ form_errors(categoryForm.name) }}
                {{ form_widget(categoryForm.name, {
                    'attr': {
                        'placeholder': 'Ex.: Strategie'
                    }
                }) }}
                {{ form_help(categoryForm.name) }}
            </div>
            <div class="col-3">
                {{ form_row(categoryForm.description, {
                    'label': 'Description',
                    'attr': {
                        'placeholder': 'Ex.: Description'
                    }
                }) }}
            </div>
            <div class="col-3">
                {{ form_row(categoryForm.img, {
                    'label': 'Description',
                    'attr': {
                        'placeholder': 'Ex.: Image'
                    }
                }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-end my-3">
                <a href="{{ path('admin_category')}}" class="btn btn-outline-danger me-3">Annuler</a>
                <button class="btn btn-success">Créer</button>
            </div>
        </div>

    {{ form_end(categoryForm) }}

{% endblock %}
